/* ========== 全局基础样式 ========== */
html {
    font-size: 18px;
}

body {
    font-size: 16px;
    line-height: 1.3rem;
}

/* ========== 正文容器 ========== */
.markdown-section {
    max-width: 80%;
    padding: 20px 30px 100px;
}

/* ========== 标题层级 ========== */
.markdown-section h1 {
    font-size: 2.2rem;
    margin: 0 0 1rem;
    color: #2c3e50;
}

.markdown-section h2 {
    font-size: 1.75rem;
    margin: 35px 0 15px;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #ddd;
    color: #42b983;
}

.markdown-section h3 {
    font-size: 1.4rem;
    margin: 20px 0 7px;
    color: #2980b9 !important;
}

.markdown-section h4 {
    font-size: 1.2rem;
    color: #8e44ad;
}

.markdown-section h5 {
    font-size: 1rem;
    color: #d35400;
}

.markdown-section h6 {
    font-size: 1rem;
    color: #7f8c8d;
}

/* ========== 正文段落、列表、引用 ========== */
.markdown-section p,
.markdown-section ul,
.markdown-section ol,
.markdown-section blockquote {
    margin: 0.8em 0;
    line-height: 1.2rem;
}

.markdown-section blockquote {
    border-left: 4px solid #42b983;
    background: rgba(66, 185, 131, 0.08);
    padding: 10px 15px;
    color: #666;
}

/* ========== 代码样式 ========== */
.markdown-section code,
.markdown-section pre,
.markdown-section pre>code {
    font-family: "JetBrains Mono", "Noto Sans Mono", Menlo, Consolas, monospace;
    font-size: 1rem;
    margin: 0.5em 0;
    padding: 5px 10px;
    border-radius: 20px;
}

/* ========== 表格样式========== */
.markdown-section table {
    width: 100% !important;
    border-collapse: collapse;
    margin: 20px auto;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08); */
    border-radius: 6px;
}

/* 标题行样式 */
.markdown-section table th {
    background-color: #74837cce;
    color: #ffffff;
    font-weight: 600;
    padding: 12px 15px;
    text-align: center;
    border: 1px solid #e5e7eb;
}

/* 单元格样式 */
.markdown-section table td {
    padding: 12px 15px;
    text-align: center;
    border: 1px solid #e5e7eb;
    color: #34495e;
}

.markdown-section table tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}

/* 隔行变色 */
.markdown-section table tbody tr:hover {
    background-color: #f0fdf4;
    transition: background-color 0.2s ease;
}

/* 鼠标悬停效果 */
.markdown-section table tr {
    border-top: none;
}